<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Acre cms</title>
</head>
<body>
  <div class="container" ng-controller='CreatePageCtrl'>
    <h1>{{title}}</h1>
    <form ng-submit='savePage(page)'>
     <input type="text" ng-model='page.title'>
     <br>
     <textarea cols="30" rows="10" ng-model='page.body'></textarea>
     <br>
     <input type="text" ng-model='page.tag'>
     <br>
     <button>Salvar</button>
    </form>
  </div>

  <script src='bower_components/angular/angular.min.js'></script>
  <script src='js/app.js'></script>
</body>
</html>
